name: CI

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - develop

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: JDK ${{ matrix.jdk }}, ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        jdk: [ 8, 11, 17 ]
        os: [ ubuntu-20.04 ]
      fail-fast: true
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK ${{ matrix.jdk }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.jdk }}
          distribution: 'temurin'
          cache: 'maven'
      - name: Update apt-get
        run: sudo apt-get update
      - name: Install ARCUS
        run: |
          # clone
          git clone https://github.com/naver/arcus.git $HOME/arcus
          
          # build server
          cd ~/arcus && docker compose up -d 

      - name: Test ARCUS Client Without ZK
        run: mvn clean verify -DUSE_ZK=false -Dtest=ObserverTest
      - name: Test ARCUS Client With ZK
        run: mvn clean verify -DUSE_ZK=true
